.notfound-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.notfound-title {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

.notfound-desc {
  color: #7e7e7e;
  font-size: 16px;
  text-align: center;
  margin-bottom: 32px;
}

.notfound-image img {
  width: 130px;
  height: 130px;
}
